<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Arent SF Movies</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" >

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
    </script>
    
    <!-- Leaflet Js Files -->
    <link rel="stylesheet" href="../static/leaflet/leaflet.css" />
    <script src="../static/leaflet/leaflet.js">
    </script>

    <!-- Bootstrap3 Typeahead -->
    <script src=
        "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js">
	</script>

    <!-- Leaflet Control Geocoder -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script> -->
</head>

<body>
    <!-- <h1>Arent SF Movies Test</h1> -->
    <div class="container">
        <b>
            <p>Title</p>
        </b>
    
        <input
            type="text"
            class="typeahead"
            id="title_input",
            data-provide="typeahead"
            placeholder="Enter Title of movie"
        />
        
        <br>
        <br>

        <div id="map"></div>
    </div>
</body>

<script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        // Initialize and show map
        initMap({{sf_coor}},
            {{locations_dict|tojson}}
        );

        // Add source to auto-complete search input
        addAutoSearchSource({{autocomplete_search_source|tojson}});

        $('#title_input').focus();
    })
</script>

</html>